@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application manages the activities for a garage. It keeps track of which type of vehicles 
    are parked in the garage, how many vehicles are in the garage and also if there are any free 
    parking spaces in the garage. 
    <br>
    It keeps track of when a specific vehicle comes in and also when it leaves the garage. 
    Afterwards it also gives a receipt if the driver wants one.</p>
