@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Liljeholmen International Parking Company AB, LIPCAB<br />
    Årstaängsvägen 9, 117 43 Stockholm<br />
    <abbr title="Phone">Phone:</abbr>
    +46 8 1234567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@LIPCAB.se</a><br>
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@LIPCAB.se</a>
</address>