@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Garage Application</h1>
    <p class="lead">Garage Application is an application to handle different vehicles coming into or leaving the garage. 
    It can also show the members of the garage.<br>The parking fee is 65 SEK/hour.
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To start this application, press 'Vehicles' or 'Members' in the menu. That shows the information about the vehicles already in 
            the garage or the members of the garage.
           </p>
    </div>
    <div class="col-md-4">
        <h2>How to park a vehicle</h2>
        <p>Press 'Park a new vehicle' in the top of the site and fill in the form which is coming up.</p>
    </div>
    <div class="col-md-4">
        <h2>Details about the vehicles</h2>
        <p>To the right in the table you can print more information about a specific vehicle. Choose 'Details' to get that information.
           Here you can also change information by pressing 'Edit' or check out the vehicle by the 'Check Out'-key.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Details about the members</h2>
        <p>
            To the right in the table you can print more information about a specific member. Choose 'Details' to get that information.
            Here you can also change information by pressing 'Edit' or remove the member by the 'Remove'-key.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Find</h2>
        <p>
            By pressing 'Find Vehicles' you can search for vehicles with a specific attribute and by pressing 'Find Member' you can
            search for members with a specific attribute.
        </p>
    </div>
</div>