@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Garage Application</h1>
    <p class="lead">Garage Application is an application to handle different vehicles coming into or leaving the garage. 
    It can also show some interesting information about the vehicles in the garage.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To start this application, press 'Garage' in the menu. That shows the information about the vehicles already in the garage.
            From that site there are some choices.
        </p>
    </div>
    <div class="col-md-4">
        <h2>How to park a vehicle</h2>
        <p>Press 'Park a new vehicle' in the top of the site and fill in the form which is coming up.</p>
    </div>
    <div class="col-md-4">
        <h2>Details about the vehicles</h2>
        <p>To the right in the table you can print more information about a specific vehicle. Choose 'Details' to get that information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Changing some information</h2>
        <p>
            To the right in the table you can change some information about a specific vehicle. Choose 'Edit' to type in that information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Check out a vehicle</h2>
        <p>
            To the right in the table you can check out a vehicle from the garage. Choose 'Check Out' where you also can choose to get a receipt or not.
            Default is to get a receipt.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Find</h2>
        <p>
            By pressing 'Find' you can search for vehicles with a specific attribute.
        </p>
    </div>
</div>