
@{
    ViewBag.Title = "Invalid Vehicle Type";
}

<h2>Invalid Vehicle Type</h2>

<p>Sorry, the garage does not host vehicles of type &quot; @ViewBag.VehicleType &quot;.</p>
<strong>It only hosts Airplane, Boat, Bus, Car and Motorcycle</strong>.
<br>
<p>Please revise your search parameter(s).</p>
<p>
    @Html.ActionLink("Back", "Find") | @Html.ActionLink("Back to List", "Index")
</p>
