
@{
    ViewBag.Title = "Search Result";
}

<h2>No Vehicles Found</h2>
<p>Sorry, no vehicles matching your criteria were found in the Garage.</p>
<p>Please revise your search parameter(s).</p>
<p>
    @Html.ActionLink("Back", "Find") | @Html.ActionLink("Back to Index", "Index")
</p>

