
@{
    ViewBag.Title = "Search Result";
}

<h2>No Member Found</h2>
<p>Sorry, no member matching your criteria were found in the system.</p>
<p>Please revise your search parameter(s).</p>
<p>
    @Html.ActionLink("Back", "Find") | @Html.ActionLink("Back to Index", "Index")
</p>

