body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* From another project*/
html{
    position: relative;
    max-width: 1600px;
    background-color: wheat;
}

body {
	color:#330000;
    background-color:burlywood;
    margin-right: 80px;
    margin-left: 40px;
    width: auto;
}

footer {
    color:darkred;
    background-color:goldenrod;
    font-size: 110%;
}

div {
    margin: auto;
    max-width: 1500px;
}

a:link {
    color:brown;
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color:brown;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

table, td {
	border: 2px solid darkred;
    text-align: center;
    width: auto;
    height:auto;
}

table, tr{
	border: 2px solid darkred;
    text-align: center;
}

table, th{
    color: black;
	border: 2px solid darkred;
    text-align: center;
}

table {
	width: auto;
    height:auto;
    text-align:center;
}
